<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	
</head>
<body>
  
        <h1 >
            Welcome to Service page
        </h1>
		<hr>
		
		<!--Using fragment-->

		<div th:replace="~{base :: parent(~{::section})}">
			<section>
				<h1>This is dynamic services passed to base parent</h1>
				
			</section>
			
			
		</div>       
   
		</body>
<!--flowbite content -->
	
	
</html>

